config			/home/rogora/.config
vscode			/home/rogora/.config/Code\ -\ OSS/User
home			/home/rogora
local-bin		/home/rogora/.local/bin
sway			/home/rogora/.config/sway
foot			/home/rogora/.config/foot
firefox			/home/rogora/.mozilla/firefox/*.default-release/chrome
p-hooks			/etc/pacman.d/hooks
